<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:fragment="title">
    <title>thiThe page is a write page</title>
</th:block>

<th:block>
    <div class="card-content">
        <form class="form-horizontal" th:action="@{/insert}"  method="post">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text" th:name="employeeId" class="form-control" placeholder="회원번호" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text" name="money" class="form-control" placeholder="급여" />
                </div>
            </div>
                <button type="submit" class="btn btn-primary waves-effect waves-light">입력완료</button>
        </form>
    </div>
    <!-- /.card-content -->
</th:block>
</html>